{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Species</th>
        <th>Sex</th>
        <th>Owner</th>
        <th>Vet</th>
        <th> </th>
    </tr>
    
    {% for animal in all_animals %}
        <tr>
            <td><a href="/animals/{{animal.id}}/edit">{{animal.name}}</a></td>
            <td>{{animal.date_of_birth}}</td>
            <td>{{animal.species}}</td>
            <td>{{animal.sex}}</td>
            <td>{{animal.owner.name}}</td>
            <td>{{animal.vet.name}}</td>
            <td><a href="/animals/{{animal.id}}/delete">Delete Animal</a></td>
        </tr>
        <tr>
            <td colspan=6>{{animal.treatment_notes}}</td>
        </tr>
        <tr>
            <td> </td>
        </tr>
    {% endfor %}
</table>
    <p><a href="/animals/new">Add Animal</a></p>
    
    <p>Click on animal to update</p>
{% endblock %}