{% extends "base.html" %}
{% block content %}

    <form action="/animals" method="post">
        
        <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
        </div>
    
        <div>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" required>
        </div>
        
        <div>
            <label for="species">Species:</label>
            <input type="text" id="species" name="species" placeholder="Species" required>
        </div>

        <div>
            <label for="sex">Sex:</label>
            <input type="text" id="sex" name="sex" placeholder="Sex" required>
        </div>

        <div>
            <label for="treatment_notes">Treatment Notes:</label>
            <input type="text" id="treatment_notes" name="treatment_notes" placeholder="Treatment Notes" required>
        </div>

        <div>
            <label for="owner">Owner:</label>
            <select id="owner" name="owner_id">
                {% for owner in all_owners %}
                    <option value="{{owner.id}}">{{owner.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="vet">Vet:</label>
            <select id="vet" name="vet_id">
                {% for vet in all_vets %}
                    <option value="{{vet.id}}">{{vet.name}}</option>
                {% endfor %}
            </select>
            </div>    
        <button type="submit">Add Animal</button>
    
    </form>

{% endblock %}