body{
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 16px;
    background-image: url("cat.jpeg"); 
    background-color: bisque;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

h1{
  position: fixed;
  bottom: 75px;
  left: 450px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

