body{
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 16px;
    background-image: url("cat.jpeg"); 
    background-color: bisque;
    background-position: center;
    background-repeat: no-repeat;
  }

