{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No</th>
            <th> </th>
        </tr>
        {% for owner in all_owners %}
        <tr>
            <td><a href="/owners/{{owner.id}}/edit">{{owner.name}}</a></td>
            <td>{{owner.address}}</td>
            <td>{{owner.phone_no}}</td>
            <td><a href="/owners/{{owner.id}}/delete"><button class="delete_button">Delete Owner</button></a></td>
        </tr>
        <tr>
            <td> </td>
        </tr>                
        {% endfor %}
    </table>

    <p><a href="/owners/new"><button>Add Owner</button></a></p> 
    
    <p>Click on owner to update</p>
{% endblock %}